body {
    margin: 0;
    padding: 0;
}

.nav_bar {
    background-color: #F8F8F8;
    padding: 0 80px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.nav_barFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items ul li {
    float: left;
    text-align: center;
    padding: 0;
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.nav_items ul li:hover {
    border-bottom: 1px solid black;
    /* padding: 5px 10px; */
    color: rgb(163, 163, 163);
}

.nav_conect button {
    border: none;
    outline: none;
    background: rgb(204, 202, 202);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.drop_down {
    float: left;
    display: none;
}

.drop_down:hover {
    float: left;
    display: block;
}

.home_welcome{
    text-align: center;
}
.home_welcome h3{
    cursor: pointer;
}
.welcome_msg{
    display: none;
    font-size: 16px;
    color: rgb(155, 152, 152);
}

.home_banner{
    display: flex;
    border-bottom: 1px solid rgb(233, 228, 228);
    
}
.banner_image img{
    width: 700px;
    height: 400px;
    /* height: 100px; */
}
.banner_content{
    position: relative;
    top: 100px;
    left: 250px;
    text-align: center;
}

.banner_content h3{
    font-size: 50px;
}


.banner_content h5{
    font-size: 16px;
    background-color: blanchedalmond;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}